spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sigec_local
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
      ddl-auto: validate
  flyway:
    enabled: false
    locations: classpath:db/migration
  mail:
    host: smtp.gmail.com
    port: 587
    username: noreply@email.com.br
    password: 12345
    protocol: smtp
