spring:
  application:
    name: sigec-api
  profiles:
    active: dev
  output:
    ansi:
      enabled: always
  messages:
    encoding: utf-8
  jackson:
    serialization:
      write-dates-as-timestamps: true
  web:
    locale: pt_BR
    resources:
      add-mappings: false
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  servlet:
    multipart:
      enabled: true
      max-request-size: 50MB
      max-file-size: 50MB

server:
  port: ${PORT:8080}
  servlet:
    context-path: ${CONTEXT_PATH:/}

logging:
  pattern:
    console: '%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(${LOG_LEVEL_PATTERN:%5p}) %clr(%-40.40logger{39}){cyan} %clr(:){faint} %clr([${spring.application.name}]){magenta}%clr(%X{requestUuid}){yellow}%clr(%X{requestPathContext}){blue} %clr(%m%n){%5p} ${LOG_EXCEPTION_CONVERSION_WORD:%wEx}'
    file: '%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(${LOG_LEVEL_PATTERN:%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %clr([${spring.application.name}]){magenta}%clr(%X{requestPathContext}){magenta}%clr(%X{requestUuid}){magenta} %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}'
  level:
    org:
      hibernate:
        type: trace
    br.com.project.spring.starter.template.api: DEBUG
    root: INFO
